[submodule "3rdparty/json/json"]
	path = 3rdparty/json/json
	url = ../json.git
[submodule "3rdparty/glm/glm"]
	path = 3rdparty/glm/glm
	url = ../glm.git
[submodule "3rdparty/spdlog/spdlog"]
	path = 3rdparty/spdlog/spdlog
	url = ../spdlog.git
